<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EntityFBio" connectionString="metadata=res://*/EntityFBio.csdl|res://*/EntityFBio.ssdl|res://*/EntityFBio.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FLESAR-RADU\FLESARSQLSERVER;initial catalog=Database.EFBio;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>