<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<connectionStrings>
  <add name="EntityFBio" connectionString="metadata=res://*/EntityFramework.EntityFBio.csdl|res://*/EntityFramework.EntityFBio.ssdl|res://*/EntityFramework.EntityFBio.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql6004.site4now.net;initial catalog=DB_A3795C_schoolpltfmr;persist security info=True;user id=DB_A3795C_schoolpltfmr_admin;password=Raduflesar1;MultipleActiveResultSets=True;App=EntityFramework&quot;"
    providerName="System.Data.EntityClient" />
  <add name="Biologie.Properties.Settings.Database_EFBioConnectionString"
    connectionString="Data Source=FLESAR-RADU\FLESARSQLSERVER;Initial Catalog=Database.EFBio;Integrated Security=True"
    providerName="System.Data.SqlClient" />
  <add name="Biologie.Properties.Settings.DB_A36E0C_flesarraduConnectionString"
    connectionString="Data Source=sql6004.site4now.net;Initial Catalog=DB_A36E0C_flesarradu;Persist Security Info=True;User ID=DB_A36E0C_flesarradu_admin;Password=Biologie1234"
    providerName="System.Data.SqlClient" />
  <add name="Biologie.Properties.Settings.DB_A3795C_schoolpltfmrConnectionString"
    connectionString="Data Source=sql6004.site4now.net;Initial Catalog=DB_A3795C_schoolpltfmr;Persist Security Info=True;User ID=DB_A3795C_schoolpltfmr_admin;Password=Raduflesar1"
    providerName="System.Data.SqlClient" />
</connectionStrings></configuration>